In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [47]:
#readin the csv file
df= pd.read_csv('heart.csv')

In [48]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [49]:
#printing shape of the data 

print("shape of data is :", df.shape)
print("here: \n")
print("the number of samples is : ", df.shape[0])
print("the number of features is : ", df.shape[1])

shape of data is : (303, 15)
here:

the number of samples is :  303
the number of features is :  15

In [50]:
#MISSING VALUES
print("the number of missing values in each faeture : \n", df.isnull().sum())
print("\n total number of missing vlaues in dataset: ", df.isnull().sum().sum())

the number of missing values in each faeture :
 Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

 total number of missing vlaues in dataset:  6

In [51]:
#datatype of each column
print("the datatype of each column is :\n ", df.dtypes )

the datatype of each column is :
  Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [52]:
#finding out zeroes
print("the number of zero in each faeture :\n", (df==0).sum())
print("\n the total number of zeroes in dataset is : ",(df==0).sum().sum())

the number of zero in each faeture :
 Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

 the total number of zeroes in dataset is :  985

In [53]:
#mean age of patients
age_mean= df['Age'].mean()
print(f"the mean age of patients is : {age_mean:.2f}")

the mean age of patients is : 54.44

In [54]:
#extracting relevant features;
df_subset= df[["Age", "Sex", "ChestPain", "RestBP", "Chol"]]
df_subset.head()

   Age  Sex     ChestPain  RestBP  Chol
0   63    1       typical     145   233
1   67    1  asymptomatic     160   286
2   67    1  asymptomatic     120   229
3   37    1    nonanginal     130   250
4   41    0    nontypical     130   204

In [55]:
#finding maximum correlated features
corr_matrix= df_subset.corr().abs()
np.fill_diagonal(corr_matrix.values,np.nan)
max_cor_pair= corr_matrix.unstack().idxmax()
max_cor_value= corr_matrix.unstack().max()
print("the maximum correlated pair: ", max_cor_pair)
print("the maximum correlated value:", max_cor_value)

ValueError: could not convert string to float: 'typical'

In [ ]:
x_feature, y_feature = max_cor_pair
df_selected = df_subset[[x_feature,y_feature]]
#spliting the dataset
x_train,x_test,y_train,y_test = train_test_split(df_selected[x_feature],df_selected[y_feature], random_state=1, test_size=0.25)

In [ ]:
training_x= x_train.shape[0]
training_y=y_train.shape[0]
testing_x= x_test.shape[0]
testing_y=y_test.shape[0]
print("the training dataset shape is : ",(training_x,training_y))
print("the testing datset shape is : ",(testing_x,testing_y))

In [ ]:
#plotting the graph
plt.figure(figsize=(10,6))
plt.title("training and testing dataset")
plt.scatter(x_train,y_train, color='r', alpha=0.8,label="training data")
plt.scatter(x_test,y_test, color='blue',alpha=0.8,label="testing data")
plt.xlabel(x_feature)
plt.ylabel(y_feature)
plt.legend()
plt.grid(True)
plt.show()